/build/macros/more-macros.aux
/build/chapter01_introduction.aux
/build/chapter02_fundamentals.aux
/build/thesis.aux
/build/thesis.bbl
/build/thesis.blg
/build/thesis.fdb_latexmk
/build/thesis.fls
/build/thesis.out
/build/thesis.log
/build/thesis.synctex.gz
/build/thesis.sta
/build/introduction_deepak.pdf
chapter01_introduction.aux
tags

